* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.chat-app-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  min-height: 50vh;
}

.chat-messages {
  max-height: 300px;
  margin-bottom: 10px;
}

.message {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  line-height: 1.5;
}

.message.response {
  padding: 16px;
  text-align: left;
  background-color: #1d1919;
  border-radius: 15px 15px 15px 0;
  padding-left: 25px;
}

.message.user {
  text-align: right;
  background-color: #1d1919;
  border-radius: 15px 15px 0px 15px;
  padding-right: 25px;
}

.chat-input {
  display: flex;
}

input {
  flex: 1;
  padding: 10px 13px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 1.05rem;
  outline: none;
}

button {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
